<footer class="usa-footer usa-footer-slim" role="contentinfo">
  <div class="usa-footer-primary-section">
    <div class="usa-grid-full">
      <nav class="usa-footer-nav usa-width-two-thirds">
      <ul class="usa-unstyled-list">
        <li class="usa-width-one-sixth usa-footer-primary-content">
          <a class="usa-footer-primary-link" href="{{ "/pages/resources" | prepend: site.baseurl }}">Resources</a>
        </li>
        <li class="usa-width-one-sixth usa-footer-primary-content">
          <a class="usa-footer-primary-link" href="{{ "/pages/glossary" | prepend: site.baseurl }}">Glossary</a>
        </li>
      </ul>
      </nav>
    </div>
  </div>
  <div class="usa-footer-secondary_section">
    <div class="usa-grid">
      <div class="usa-width-one-half">
        <ul class="usa-unstyled-list logos">
     
          <div class="row">
            <li class="pif-logo">
              <a href="https://pif.gov" target="_blank">
                <img src="{{ "/assets/img/logos/pif.png" | prepend: site.baseurl }}" alt="Presidential Innovation Fellows">
              </a>
            </li>
          </div>
        </ul>
      </div>
      <div class="usa-width-one-half right">
        <a class="usa-button usa-button-big" href="{{ "/assets/pdfs/Foster-Youth-Experience-Map.pdf" | prepend: site.baseurl }}" download>
          <i class="fa fa-download" aria-hidden="true"></i>
          Download the Experience Map
        </a>
      </div>
    </div>
  </div>
</footer>
