.banner {
  @include background(linear-gradient(rgba($color-primary-darkest, 0.92), rgba(darken($color-primary-darkest, 10), 0.92)), url("../../assets/img/homepage/banner.jpg"), no-repeat);
  background-size: cover;
  min-height: 570px;
  text-align: center;
  padding: 3.75em 0 4.75em;

  h1 {
    color: $color-white;
    font-size: 3.75em;
    font-weight: normal;
    margin: 0 auto;
    max-width: 8em;
  }

  h2 {
    color: $color-white;
    font-size: 1.2em;
    font-weight: normal;
    line-height: 1.2em;
    margin: 1em auto 1em;
    max-width: 36em;
  }

  img {
    margin: 1em auto 0;
    max-width: 28em;
  }

  p {
    color: $color-white;
    font-size: 1.2em;
    font-style: italic;
    font-weight: normal;
    margin-bottom: 0.2em;
  }

  .decorative-text {
    font-family: $font-serif;
  }

  .usa-button-big {

    i {
      margin-left: 0.2em;
    }

    &:hover {

      i {
        @include transition(margin-left 0.2s ease);
        margin-left: 1.2em;
      }
    }
  }
}

.categories {

  ul {
    display: block;
    width: 100%;

    &:after {
      clear: both;
      content: "";
      display: table;
    }
  }
}

.homepage {

  .about {
    padding: 2em 0;
  }

  .stage-cat {
    padding: 0.5em 0.2em;

    span {
      font-size: 0.8em;
    }
  }
}

.stage-cat {
  color: $color-white;
  float: left;
  line-height: 1em;
  padding: 0.1em 0.2em;
  text-align: center;
  width: 20%;

  &:first-child {
    background-color: $brand-green;
  }

  &:nth-child(2) {
    background-color: lighten($brand-blue, 20);
  }

  &:nth-child(3) {
    background-color: $brand-teal;
  }

  &:nth-child(4) {
    background-color: $brand-yellow;
  }

  &:last-child {
    background-color: $brand-red;
  }

  span {
    font-size: 0.7em;
  }
}
