---
layout: page
javascript: index.js
---

<main>
  <section class="page-content">
    <div class="usa-grid">
      <header class="page-heading">
        <h1>Introduction</h1>
      </header>

      <p>
        How might we improve outcomes for children, youth and families who touch the system? Taking a youth and family-centered approach is one way. Being data-informed to improve youth and family-centered business processes is another. In this tool, you will find an experience map to help understand how the foster care system works from the youth’s perspective, how families can be supported and strengthened instead of stigmatized to prevent children and youth from entering foster care, and how youth can be given opportunities to develop agency in their own lives.
      </p>
      <p>
        This tool is intended to help refocus training and decision-making, and is not meant to be prescriptive about the child welfare practice. Think of it as a reflection of the needs and wants of clientele. As one of the foster youth alumni working on the task force for this tool said, “Whenever agencies make budget decisions, the things that help us most like mentorship and therapy are always the first to go.” FYC helps agencies keep the needs of their clients front of mind no matter what decision is being made.
      </p>
      <h2>Definitions</h2>
      <ul class="usa-unstyled-list">
        <li>
          <h3>Prevention</h3>
          <p>
            Prevention refers to interventions and actions that can be taken to prevent a child from entering foster care at all. 60-85% of children who enter foster care are removed due to neglect[link to the prevention video], a broad term that includes many conditions stemming from poverty, such as improper cribs, exposure to lead paint, and not having enough food to eat. Investing upstream in strengthening families who could use extra support can prevent children from entering foster care. The suggested opportunities for strengthening families in this map come from families who have touched the system for these reasons.
          </p>
        </li>
        <li>
          <h3>Agency</h3>
          <p>
            Agency is having power over yourself and your decisions. Youth who age out of foster care without finding permanent homes often say that the system helps so much that it harms: when children and youth are not provided opportunities to make decisions for themselves, to think through consequences, and to try things (and fail) on their own in a lower-risk setting, the transition to adulthood becomes much more difficult. The suggested opportunities for youth to develop agency, come from foster youth themselves.
          </p>
        </li>
      </ul>

      <div class="pillars">
      <h2>The Three Core Tenets</h2>
      <p>
        The three core tenets of foster care are to provide safety, permanency, and wellbeing to young people in the system. To measure each one, it’s important to clearly define what they mean. Below is what safety, permanency and wellbeing mean to the people who have experienced the system.
      </p>

        <ul>
          {% for tenent_hash in site.data.tenents %}
            {% assign tenent = tenent_hash[1] %}
            <li class="usa-width-one-third pillar">
              <div class="pillar-icon">
                <img alt="Icon for {{tenent.title}}" src="{{ "/assets/img/tenents/" | append: tenent.image_file | prepend: site.baseurl }}"/>
              </div class="pillar-icon">
              <h3>{{ tenent.title }}</h3>
              <p>
                {{ tenent.description }}
              </p>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </section>

  <div class="navigation">
    <a class="previous arrow-container" href={{ "/" | prepend: site.baseurl }}>
      <div class="arrow">
        <i class="fa fa-arrow-left"></i>
        <span>Exit</span>
      </div>
    </a>
    <div class="stage-nav">
      <ul>
        <li class="active">
           <a href="{{ "/pages/introduction" | prepend: site.baseurl }}"></a>
        </li>
        {% assign stages = site.stages | sort: 'numeric_id' %}
        {% for stage in stages %}
          <li class="{{ stage.title | replace:' ', '-' | replace: '’', '' | replace: '?', '' | downcase }}">
            <a href="{{ stage.url | prepend: site.baseurl }}"></a>
          </li>
        {% endfor %}
      </ul>
    </div>
    <a class="next arrow-container" href={{ "/stages/just-a-kid" | prepend: site.baseurl }}>
      <div class="arrow">
        <span>Next</span>
        <i class="fa fa-arrow-right"></i>
      </div>
    </a>
  </div>
</main>
