.usa-footer {
  margin-top: 4em;

  .acf-logo {
    max-width: 20em;
  }

  .right {

    @include media($medium-screen) {
      text-align: right;
    }
  }

  .row {
    margin-bottom: 1em;
    margin-top: 1em;

    li {
      display: inline-block;
      margin-right: 1em;
      max-width: 4.5em;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .usa-button-big {
    padding: 1em;
  }

  .usa-footer-secondary_section {
    background-color: $color-gray-dark;
    padding: 3em 0 5em;
  }
}
