.navigation {
  background-color: lighten($page-background-color, 8);
  bottom: 0;
  box-shadow: 10px 0 10px rgba($color-black, 0.1);
  left: 0;
  position: fixed;
  right: 0;
  text-align: center;

  a {
    text-decoration: none;
  }

  .arrow-container {
    background-color: $brand-red;
    cursor: pointer;
    display: block;
    height: 3em;
    line-height: 3em;
    padding: 0 1em;
    vertical-align: middle;

    &:hover {
      @include transition(all 0.2s ease);
      background-color: darken($brand-red, 8);
    }

    &.next {
      float: right;
      text-align: right;

      i {
        margin-left: 0.5em;
      }
    }

    &.previous {
      float: left;
      text-align: left;

      i {
        margin-right: 0.5em;
      }
    }

    i {
      font-size: 0.65em;
    }

    span {
      font-size: 0.65em
    }

    .arrow {
      color: $color-white;
      font-size: 1.5em;
    }
  }
}

.page-layout {
  background-color: lighten($page-background-color, 3);

  .categories {

    li {
      opacity: 0.3;

      &.active {
        opacity: 1;
      }
    }
  }

  .logo {
    margin-top: 2em;
    text-align: center;

    a {
      display: inline-block;
      text-decoration: none;

      &:hover {

        h1 {
          color: darken($brand-green, 30);
        }
      }

      h1 {
        @include transition(color 0.2s ease);
        color: $color-gray-dark;
      }

      p {
        color: darken($brand-green, 20);
      }
    }

    h1 {
      font-size: 1.75em;
      margin: 0;
    }

    p {

      font-family: $font-serif;
      font-size: 0.85em;
      font-style: italic;
      margin: 0;
    }
  }

  .page-heading {
    margin: 0 auto;
    max-width: 35em;
    text-align: center;
  }

  .pillar-icon {
    margin: 0 auto;
    max-width: 5em;
  }

  .pillars {

    h2 {
      font-size: 1.25em;
      margin: 0;
      text-align: center;
      text-transform: uppercase;
    }

    p {
      text-align: center;
    }
  }

  .usa-disclaimer {
    background-color: $color-white;
  }
}

.am-i-in-trouble {

  .am-i-in-trouble {
    a {
      background-color: $brand-red;
    }
  }
}

.doctors-are-scary {

  .doctors-are-scary {
    a {
      background-color: $brand-red;
    }
  }
}

.im-just-a-kid {

  .im-just-a-kid {
    a {
      background-color: $brand-red;
    }
  }
}

.how-did-this-happen {

  .how-did-this-happen {
    a {
      background-color: $brand-red;
    }
  }
}

.how-do-i-support-my-family {

  .how-do-i-support-my-family {
    a {
      background-color: $brand-red;
    }
  }
}

.how-long-will-i-be-here {

  .how-long-will-i-be-here {

    a {
      background-color: $brand-red;
    }
  }
}

.i-dont-want-anyone-at-school-to-know {

  .i-dont-want-anyone-at-school-to-know {
    a {
      background-color: $brand-red;
    }
  }
}

.im-learning-to-be-an-adult {

  .im-learning-to-be-an-adult {
    a {
      background-color: $brand-red;
    }
  }
}

.im-on-my-own-now {

  .im-on-my-own-now {
    a {
      background-color: $brand-red;
    }
  }
}

.its-up-to-the-judge-now {

  .its-up-to-the-judge-now {
    a {
      background-color: $brand-red;
    }
  }
}

.this-is-a-really-big-change {

  .this-is-a-really-big-change {
    a {
      background-color: $brand-red;
    }
  }
}

.where-are-you-taking-me {

  .where-are-you-taking-me {
    a {
      background-color: $brand-red;
    }
  }
}

.where-do-i-belong {

  .where-do-i-belong {
    a {
      background-color: $brand-red;
    }
  }
}

.stage-nav {
  display: inline-block;

  ul {
    display: inline-block;
    margin: 1.2em 0 0 0;
    max-width: 30em;
    padding: 0;
    text-align: center;

    li {
      display: inline-block;
      margin: 0 0.8em 0 0;

      a {
        background-color: lighten($color-gray, 45);
        border-radius: 50%;
        display: block;
        height: 0.6em;
        width: 0.6em;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }
}
