---
layout: page
title: Stages
---

<main class="stage-layout {{ page.title | replace:' ', '-' | replace: '’', '' | replace: '?', '' | downcase }}">
  <section class="page-content">
    <div class="usa-grid">
      <header class="page-heading">
        <h1>“{{ page.title }}”</h1>
        {% if page.description %}
          <p>{{ page.description }}</p>
        {% endif %}
      </header>
      {% if page.feelings %}
        <div class="feelings">
          <h2>How might they be feeling at this stage?</h2>
          <p>
            {% for feeling in page.feelings %}
              <span class="feeling">{{ feeling }},</span>
            {% endfor %}
          </p>
        </div>
      {% endif %}
      {% if page.drivers %}
        <div class="drivers">
          <h2>What is likely driving their behavior?</h2>
          <p>
            {% for driver in page.drivers %}
              <span class="driver">{{ driver }},</span>
            {% endfor %}
          </p>
        </div>
      {% endif %}
      {% if page.family_strengthening_opportunities %}
        <div class="family-opps">
          <h2>Family Strengthening Opportunities</h2>
          <ul>
            {% for opportunity in page.family_strengthening_opportunities %}
              <li>
                {{ opportunity }}
              </li>
            {% endfor %}
          </ul>
        </div>
      {% endif %}
      {% if page.youth_agency_opportunities %}
        <div class="family-opps">
          <h2>Youth Agency Opportunities</h2>
          <ul>
            {% for opportunity in page.youth_agency_opportunities %}
              <li>
                {{ opportunity }}
              </li>
            {% endfor %}
          </ul>
        </div>
      {% endif %}
      {% if page.buckets %}
        {% assign bucket_index = 1 %}
        <ul class="usa-accordion">
          {% for bucket in page.buckets %}
            {% for bucket_attribute in bucket %}
              {% if bucket_attribute.name %}
                <li>
                  <button class="usa-accordion-button" aria-expanded="{% if bucket_index == 1 %}true{% else %}false{% endif %}" aria-controls="bucket-{{bucket_index}}">
                    {{ bucket_attribute.name }}
                  </button>
                  <div id="bucket-{{bucket_index}}" class="usa-accordion-content" aria-hidden="{% if bucket_index == 1 %}false{% else %}true{% endif %}">
                    {% if bucket_attribute.feelings %}
                      <div class="feelings">
                        <h3>How might they be feeling at this stage?</h3>
                        <p>
                          {% for feeling in bucket_attribute.feelings %}
                            <span class="feeling">{{ feeling }},</span>
                          {% endfor %}
                        </p>
                      </div>
                    {% endif %}
                    {% if bucket_attribute.drivers %}
                      <div class="drivers">
                        <h3>What is likely driving their behavior?</h3>
                        <p>
                          {% for driver in bucket_attribute.drivers %}
                            <span class="driver">{{ driver }},</span>
                          {% endfor %}
                        </p>
                      </div>
                    {% endif %}
                    {% if bucket_attribute.family_strengthening_opportunities %}
                      <div class="family-opps">
                        <h3>Family Strengthening Opportunities</h3>
                        <ul>
                          {% for opportunity in bucket_attribute.family_strengthening_opportunities %}
                            <li>
                              {{ opportunity }}
                            </li>
                          {% endfor %}
                        </ul>
                      </div>
                    {% endif %}
                  </div>
                </li>
                {% assign bucket_index = bucket_index | plus: 1 %}
              {% endif %}
            {% endfor %}
          {% endfor %}
        </ul>
      {% endif %}
  </section>

  <div class="navigation">
    <a class="previous arrow-container" href={{ page.previous_url }}>
      <div class="arrow">
        <i class="fa fa-arrow-left"></i>
        <span>Previous</span>
      </div>
    </a>
    <div class="stage-nav">
      <ul>
        <li class="im-just-a-kid">
          <a href="/stages/just-a-kid"></a>
        </li>
        <li class="am-i-in-trouble">
          <a href="/stages/am-i-in-trouble"></a>
        </li>
        <li class="where-are-you-taking-me">
          <a href="/stages/where-are-you-taking-me"></a>
        </li>
        <li class="doctors-are-scary">
          <a href="/stages/doctors-are-scary"></a>
        </li>
        <li class="how-did-this-happen">
          <a href="/stages/how-did-this-happen"></a>
        </li>
        <li class="its-up-to-the-judge-now">
          <a href="/stages/up-to-the-judge-now"></a>
        </li>
        <li class="how-long-will-i-be-here">
          <a href="/stages/how-long-will-i-be-here"></a>
        </li>
        <li class="this-is-a-really-big-change">
          <a href="/stages/big-change"></a>
        </li>
        <li class="i-dont-want-anyone-at-school-to-know">
          <a href="/stages/dont-want-school-to-know"></a>
        </li>
        <li class="how-do-i-support-my-family">
          <a href="/stages/support-my-family"></a>
        </li>
        <li class="where-do-i-belong">
          <a href="/stages/where-do-i-belong"></a>
        </li>
        <li class="im-on-my-own-now">
          <a href="/stages/on-my-own-now"></a>
        </li>
        <li class="im-learning-to-be-an-adult">
          <a href="/stages/learning-to-be-an-adult"></a>
        </li>
      </ul>
    </div>
    <a class="next arrow-container" href={{ page.next_url }}>
      <div class="arrow">
        <span>Next</span>
        <i class="fa fa-arrow-right"></i>
      </div>
    </a>
  </div>
</main>
