---
layout: page
title: Stages
---

<main class="stage-layout {{ page.title | replace:' ', '-' | replace: '’', '' | replace: '?', '' | downcase }}">
  <section class="page-content">
    <div class="usa-grid">
      <header class="page-heading">
        <h1>“{{ page.title }}”</h1>
        {% if page.audio_file_name %}
          <div class="audio">
            <audio controls>
              <source src="{{site.baseurl}}/assets/audio/{{page.audio_file_name}}.mp3" type="audio/mpeg">
              Your browser does not support the audio element.
            </audio>
          </div>
        {% endif %}
        {% if page.description %}
          <p>{{ page.description }}</p>
        {% endif %}
      </header>
      {% if page.feelings %}
        <div class="feelings">
          <h2>What might youth be feeling at this point?</h2>
          <p>
            {% for feeling in page.feelings %}
              <span class="feeling">{{ feeling }},</span>
            {% endfor %}
          </p>
        </div>
      {% endif %}
      {% if page.drivers %}
        <div class="drivers">
          <h2>What is likely driving youth’s behavior?</h2>
          <p>
            {% for driver in page.drivers %}
              <span class="driver">{{ driver }},</span>
            {% endfor %}
          </p>
        </div>
      {% endif %}
      {% if page.family_strengthening_opportunities or page.youth_agency_opportunities %}
        <h2>Opportunities</h2>
        <div class="opportunities">
          {% if page.family_strengthening_opportunities %}
            <div class="family-opps opportunity">
              <div class="opp-icon">
                <img src="{{ "/assets/img/tenents/permanency-icon.svg" | prepend: site.baseurl }}" />
              </div>
              <div class="opp-content">
                <h3>Family Strengthening Opportunities</h3>
                <ul>
                  {% for opportunity in page.family_strengthening_opportunities %}
                    <li>
                      {{ opportunity }}
                    </li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          {% endif %}
          {% if page.youth_agency_opportunities %}
            <div class="youth-opps opportunity">
              <div class="opp-icon">
                <img src="{{ "/assets/img/opportunities/youth.svg" | prepend: site.baseurl }}" />
              </div>
              <div class="opp-content">
                <h3>Youth Agency Opportunities</h3>
                <ul>
                  {% for opportunity in page.youth_agency_opportunities %}
                    <li>
                      {{ opportunity }}
                    </li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          {% endif %}
        </div>
      {% endif %}
      {% if page.buckets %}
        {% assign bucket_index = 1 %}
        <ul class="usa-accordion">
          {% for bucket in page.buckets %}
            {% for bucket_attribute in bucket %}
              {% if bucket_attribute.name %}
                <li>
                  <button class="usa-accordion-button" aria-expanded="{% if bucket_index == 1 %}true{% else %}false{% endif %}" aria-controls="bucket-{{bucket_index}}">
                    {{ bucket_attribute.name }}
                  </button>
                  <div id="bucket-{{bucket_index}}" class="usa-accordion-content" aria-hidden="{% if bucket_index == 1 %}false{% else %}true{% endif %}">
                    {% if bucket_attribute.feelings %}
                      <div class="feelings">
                        <h3>What might youth be feeling at this point?</h3>
                        <p>
                          {% for feeling in bucket_attribute.feelings %}
                            <span class="feeling">{{ feeling }},</span>
                          {% endfor %}
                        </p>
                      </div>
                    {% endif %}
                    {% if bucket_attribute.family_strengthening_opportunities or bucket_attribute.youth_agency_opportunities %}
                      <h3>Opportunities</h3>
                      <div class="opportunities">
                        {% if bucket_attribute.family_strengthening_opportunities %}
                          <div class="family-opps opportunity">
                            <div class="opp-icon">
                              <img src="{{ "/assets/img/tenents/permanency-icon.svg" | prepend: site.baseurl }}" />
                            </div>
                            <div class="opp-content">
                              <h4>Family Strengthening Opportunities</h4>
                              <ul>
                                {% for opportunity in bucket_attribute.family_strengthening_opportunities %}
                                  <li>
                                    {{ opportunity }}
                                  </li>
                                {% endfor %}
                              </ul>
                            </div>
                          </div>
                        {% endif %}
                        {% if bucket_attribute.youth_agency_opportunities %}
                          <div class="youth-opps opportunity">
                            <div class="opp-icon">
                              <img src="{{ "/assets/img/opportunities/youth.svg" | prepend: site.baseurl }}" />
                            </div>
                            <div class="opp-content">
                              <h4>Youth Agency Opportunities</h4>
                              <ul>
                                {% for opportunity in bucket_attribute.youth_agency_opportunities %}
                                  <li>
                                    {{ opportunity }}
                                  </li>
                                {% endfor %}
                              </ul>
                            </div>
                          </div>
                        {% endif %}
                      </div>
                    {% endif %}
                  </div>
                </li>
                {% assign bucket_index = bucket_index | plus: 1 %}
              {% endif %}
            {% endfor %}
          {% endfor %}
        </ul>
      {% endif %}
  </section>

  <div class="navigation">
    <a class="previous arrow-container" href={{ page.previous_url | prepend: site.baseurl }}>
      <div class="arrow">
        <i class="fa fa-arrow-left"></i>
        <span>Previous</span>
      </div>
    </a>
    <div class="stage-nav">
      <ul>
        <li>
           <a href="{{ "/pages/introduction" | prepend: site.baseurl }}"></a>
        </li>
        {% assign stages = site.stages | sort: 'numeric_id' %}
        {% for stage in stages %}
          <li class="{{ stage.title | replace:' ', '-' | replace: '’', '' | replace: '?', '' | downcase }}">
            <a href="{{ stage.url | prepend: site.baseurl }}"></a>
          </li>
        {% endfor %}
      </ul>
    </div>
    <a class="next arrow-container" href={{ page.next_url | prepend: site.baseurl }}>
      <div class="arrow">
        <span>Next</span>
        <i class="fa fa-arrow-right"></i>
      </div>
    </a>
  </div>
</main>
