$header-font: 'Quicksand', $font-sans;
$font-awesome: 'FontAwesome';

$brand-blue: #273b56;
$brand-dark-green: #67c2a2;
$brand-green: #95ce8d;
$brand-teal: #52bfbf;
$brand-red: #c66f6f;
$brand-yellow: #e2d55a;

$page-background-color: $color-white;
